@page "/"

<PageTitle>Index</PageTitle>

<h1 style="color: blue; font-family: 'Arial', sans-serif; font-size: 2em; text-shadow: 2px 2px 4px #aaa;">
    Welcome to V3 of Raqmbøll app :)
</h1>

<br>
Commit ID: <i>@commit</i>
<br> Contributor G

<SurveyPrompt Title="Surveys?" />

@code {
    private string commit = Environment.GetEnvironmentVariable("REVISION_COMMIT_ID") ?? "unknown";
}